@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
/* font-family: 'Rubik Moonrocks', cursive; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.header{
    height: 120px;
    width: 100%;
    background-color: greenyellow;
}

.logo{
    float: left;
    color: blueviolet;
    font-size: 40px;
    padding: 15px;
    font-family: 'Rubik Moonrocks', cursive;
    margin-left: 35%;
}
.logo span{
    color: #000;
}
.barra{
    float: right;
}
.barra ul{
    /* .barra ul hace referencia a los elementos que se encuentren dentro del punto barra que contenga la lista desordenada (ul)   */
    list-style: none;
}
.barra ul li{
    display: inline-block;
}
.barra ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    /* background-image: url(../Img/Brownie.jpg); */
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    background-color: rgba(218, 165, 32, 0);
}
.main1{
    background-image: url(img/Brownie.jpg);
}

.call{
    color: #fff;
    width: 100%;
    height: 7500px;
    float: right;
    background-color: rgba(0, 0, 0, 0.533);
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-top:  25px;
    margin-right: 25px;
    margin-left: 25px; */
    border: 2px solid greenyellow;
    
}
.call2{
    color: #fff;
    width: 100%;
    float:inline-start;
    background-color: rgba(0, 0, 0, 0.533);
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-top:  25px; */
    margin-right: 25px;
    border: 2px solid greenyellow;
}

.call2 h1{ 
    color: greenyellow;
}
.call2 h2{ 
    color: greenyellow;
    font-size: 30px;
    padding: 10px;
}
.call p{
    margin-bottom: 20px;
    font-size: 20px;
    

}
.call ul{
    list-style: none;
    font-size: 20px;
}

.titulo{
    margin: 20px;
    margin-left: 150px;
    font-size: 70px;
}

#contacto{
    list-style:circle;
    margin-left: 50px;
}
.call a:hover{
    background-color: #330;
}
#botonVolver{
    margin-left: 50%;
    background-color: greenyellow;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    
}

footer{
    background-color: greenyellow;
    height: 110px;
    width: 100%;
    text-align: center;
    padding: 20px;
}
footer p{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    color: #Fff;
    margin-bottom: 10px;
}
footer i{
    font-size: 40px;
    color: #333;
    letter-spacing: 15px;
 
}
.subir{
    height: 40px;
    width: 40px;
    background-color: greenyellow;
    position: fixed;
    bottom: 40px;
    right: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
}